# Tratamento das Bases de Epilepsia do Rio de Janeiro de 2015 a 2022

# Importando as Bases

In [1]:
import pandas as pd

In [ ]:
rj_epilepsia_2015 = pd.read_csv('/content/rj_epilepsia_2015.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2015

In [ ]:
rj_epilepsia_2016 = pd.read_csv('/content/rj_epilepsia_2016.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2016

In [ ]:
rj_epilepsia_2017 = pd.read_csv('/content/rj_epilepsia_2017.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2017

In [ ]:
rj_epilepsia_2018 = pd.read_csv('/content/rj_epilepsia_2018.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2018

In [ ]:
rj_epilepsia_2019 = pd.read_csv('/content/rj_epilepsia_2019.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2019

In [ ]:
rj_epilepsia_2020 = pd.read_csv('/content/rj_epilepsia_2020.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2020

In [ ]:
rj_epilepsia_2021 = pd.read_csv('/content/rj_epilepsia_2021.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2021

In [ ]:
rj_epilepsia_2022 = pd.read_csv('/content/rj_epilepsia_2022.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2022

# Concatenando, Refazendo o Indice e exportando

In [ ]:
# Concatenando as bases

rj_epilepsia_total = pd.concat([rj_epilepsia_2015, rj_epilepsia_2016, rj_epilepsia_2017, rj_epilepsia_2018, rj_epilepsia_2019, rj_epilepsia_2020, rj_epilepsia_2021, rj_epilepsia_2022], axis=0)
rj_epilepsia_total

In [ ]:
# Refazendo o Indice

rj_epilepsia_total.index = range(rj_epilepsia_total.shape[0])
rj_epilepsia_total

In [12]:
# Exportando

rj_epilepsia_total.to_csv('/content/rj_epilepsia_total.csv', sep =';')

# Formatando as colunas

In [ ]:
# Selecionando apenas as colunas que são interessantes para a nossa analise

colunas_desejadas = ['AP_MVM', 'AP_CMP', 'AP_PRIPAL', 'AP_UFMUN', 'AP_CNSPCN', 'AP_COIDADE', 'AP_NUIDADE', 'AP_SEXO', 'AP_RACACOR', 'AP_MUNPCN', 'AP_UFNACIO', 'AP_CEPPCN', 'AP_TPATEN', 'AP_TPAPAC', 'AP_MOTSAI', 'AP_OBITO', 'AP_ENCERR', 'AP_PERMAN', 'AP_ALTA', 'AP_TRANSF', 'AP_DTOCOR', 'AP_APACANT', 'AP_CIDCAS', 'AP_CIDPRI', 'AP_CIDSEC']
rj_epilepsia_total = pd.DataFrame(rj_epilepsia_total[colunas_desejadas])
rj_epilepsia_total

In [29]:
# Renomeando as colunas

novo_nome_colunas = {'AP_MVM': 'data_processamento', 'AP_CMP': 'data_atendimento_paciente', 'AP_PRIPAL': 'procedimento_principal', 'AP_UFMUN': 'codigo_uf', 'AP_CNSPCN': 'numero_cns_paciente', 'AP_COIDADE': 'codigo_idade_paciente', 'AP_NUIDADE': 'numero_idade', 'AP_SEXO': 'sexo_paciente', 'AP_RACACOR': 'raca_paciente', 'AP_MUNPCN': 'codigo_uf_municipio_residencia', 'AP_UFNACIO': 'codigo_nacionalidade_paciente', 'AP_CEPPCN': 'cep_paciente', 'AP_TPATEN': 'tipo_atendimento', 'AP_TPAPAC': 'tipo_apac', 'AP_MOTSAI': 'motivo_saida_permanencia', 'AP_OBITO': 'indicador_obito', 'AP_ENCERR': 'indicador_encerramento', 'AP_PERMAN': 'indicador_permanencia', 'AP_ALTA': 'indicador_alta', 'AP_TRANSF': 'indicador_transferencia', 'AP_DTOCOR': 'data_ocorrencia', 'AP_APACANT': 'numero_apac_anterior', 'AP_CIDCAS': 'cid_causas_associadas', 'AP_CIDPRI': 'cid_principal', 'AP_CIDSEC': 'cid_sencundario'}

In [ ]:
# Renomeando no DF

rj_epilepsia_total = rj_epilepsia_total.rename(columns=novo_nome_colunas)
rj_epilepsia_total

In [31]:
rj_epilepsia_total.to_csv('/content/rj_epilepsia_total.csv', sep =';')

# Análise Exploratória

## Por sexo

### Feminino    !!!retirar as duplicatas!!!

In [13]:
sexo = ['F']
selecao = rj_epilepsia_total['AP_SEXO'].isin(sexo)

In [14]:
sexo_fem = rj_epilepsia_total[selecao]
sexo_fem

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201501,EP,330000,4046374,3315200161306,201501,604190018,0.0,330455,43,...,0,G404,0,NaN,13,110,N,0,N,NaN
1,201501,EP,330000,4046374,3315200115293,201501,604500084,0.0,330455,43,...,0,G403,0,NaN,55,152,N,0,N,NaN
2,201501,EP,330000,4046374,3315200117823,201501,604500076,0.0,330455,43,...,0,G400,0,NaN,0,0,N,0,N,NaN
3,201501,EP,330000,4046374,3314207160320,201412,604500017,0.0,330455,43,...,0,G404,0,NaN,50,154,N,0,N,NaN
4,201501,EP,330000,4046374,3314206988675,201501,604500084,0.0,330455,43,...,0,G404,0,NaN,25,98,N,0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70551,202212,EP,330000,3343715,3322202226057,202212,604500076,0.0,330455,68,...,0,G408,0,NaN,60,160,N,0,N,1023.0
70552,202212,EP,330000,3343715,3322202030092,202212,604500050,0.0,330455,68,...,0,G404,0,NaN,69,170,N,0,N,1023.0
70553,202212,EP,330000,3343715,3322202248387,202212,604500050,0.0,330455,68,...,0,G408,0,NaN,49,165,N,0,N,1023.0
70554,202212,EP,330000,3343715,3322202176260,202212,604500050,0.0,330455,68,...,0,G400,0,NaN,60,153,N,0,N,1023.0
70555,202212,EP,330000,4046374,3322202210382,202212,604500106,0.0,330455,43,...,0,G402,0,NaN,75,165,N,0,N,1023.0

In [15]:
sexo_fem.index = range(sexo_fem.shape[0])
sexo_fem

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201501,EP,330000,4046374,3315200161306,201501,604190018,0.0,330455,43,...,0,G404,0,NaN,13,110,N,0,N,NaN
1,201501,EP,330000,4046374,3315200115293,201501,604500084,0.0,330455,43,...,0,G403,0,NaN,55,152,N,0,N,NaN
2,201501,EP,330000,4046374,3315200117823,201501,604500076,0.0,330455,43,...,0,G400,0,NaN,0,0,N,0,N,NaN
3,201501,EP,330000,4046374,3314207160320,201412,604500017,0.0,330455,43,...,0,G404,0,NaN,50,154,N,0,N,NaN
4,201501,EP,330000,4046374,3314206988675,201501,604500084,0.0,330455,43,...,0,G404,0,NaN,25,98,N,0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37976,202212,EP,330000,3343715,3322202226057,202212,604500076,0.0,330455,68,...,0,G408,0,NaN,60,160,N,0,N,1023.0
37977,202212,EP,330000,3343715,3322202030092,202212,604500050,0.0,330455,68,...,0,G404,0,NaN,69,170,N,0,N,1023.0
37978,202212,EP,330000,3343715,3322202248387,202212,604500050,0.0,330455,68,...,0,G408,0,NaN,49,165,N,0,N,1023.0
37979,202212,EP,330000,3343715,3322202176260,202212,604500050,0.0,330455,68,...,0,G400,0,NaN,60,153,N,0,N,1023.0
37980,202212,EP,330000,4046374,3322202210382,202212,604500106,0.0,330455,43,...,0,G402,0,NaN,75,165,N,0,N,1023.0

### Masculino

In [16]:
sexo = ['M']
selecao = rj_epilepsia_total['AP_SEXO'].isin(sexo)

In [17]:
sexo_masc = rj_epilepsia_total[selecao]
sexo_masc

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
5,201501,EP,330000,4046374,3314207099665,201501,604500076,0.0,330455,43,...,0,G407,0,NaN,30,130,N,0,N,NaN
8,201501,EP,330000,4046374,3315200076023,201501,604500068,0.0,330455,43,...,0,G404,0,NaN,18,120,N,0,N,NaN
9,201501,EP,330000,4046374,3314206600881,201412,604500068,0.0,330455,43,...,0,G405,0,NaN,10,100,N,0,N,NaN
11,201501,EP,330000,4046374,3314206716348,201412,604500076,0.0,330455,43,...,0,G404,0,NaN,18,120,N,0,N,NaN
13,201501,EP,330000,4046374,3315200036050,201501,604190018,0.0,330455,43,...,0,G404,0,NaN,14,110,N,0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70539,202212,EP,330000,3343715,3322202226607,202212,604500114,0.0,330455,68,...,0,G408,0,NaN,67,170,N,0,N,1023.0
70540,202212,EP,330000,3343715,3322202426444,202212,604500122,0.0,330455,68,...,0,G400,0,NaN,6,55,N,0,N,1023.0
70542,202212,EP,330000,4046374,3322208163615,202212,604500017,0.0,330455,43,...,0,G408,0,NaN,69,170,N,0,N,1023.0
70543,202212,EP,330000,3343715,3322202216124,202212,604190018,0.0,330455,68,...,0,G408,0,NaN,19,92,N,0,N,1023.0
70550,202212,EP,330000,3343715,3322202001844,202212,604190018,0.0,330455,68,...,0,G401,0,NaN,31,110,N,0,N,1023.0

In [18]:
sexo_masc.index = range(sexo_masc.shape[0])
sexo_masc

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201501,EP,330000,4046374,3314207099665,201501,604500076,0.0,330455,43,...,0,G407,0,NaN,30,130,N,0,N,NaN
1,201501,EP,330000,4046374,3315200076023,201501,604500068,0.0,330455,43,...,0,G404,0,NaN,18,120,N,0,N,NaN
2,201501,EP,330000,4046374,3314206600881,201412,604500068,0.0,330455,43,...,0,G405,0,NaN,10,100,N,0,N,NaN
3,201501,EP,330000,4046374,3314206716348,201412,604500076,0.0,330455,43,...,0,G404,0,NaN,18,120,N,0,N,NaN
4,201501,EP,330000,4046374,3315200036050,201501,604190018,0.0,330455,43,...,0,G404,0,NaN,14,110,N,0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32570,202212,EP,330000,3343715,3322202226607,202212,604500114,0.0,330455,68,...,0,G408,0,NaN,67,170,N,0,N,1023.0
32571,202212,EP,330000,3343715,3322202426444,202212,604500122,0.0,330455,68,...,0,G400,0,NaN,6,55,N,0,N,1023.0
32572,202212,EP,330000,4046374,3322208163615,202212,604500017,0.0,330455,43,...,0,G408,0,NaN,69,170,N,0,N,1023.0
32573,202212,EP,330000,3343715,3322202216124,202212,604190018,0.0,330455,68,...,0,G408,0,NaN,19,92,N,0,N,1023.0
32574,202212,EP,330000,3343715,3322202001844,202212,604190018,0.0,330455,68,...,0,G401,0,NaN,31,110,N,0,N,1023.0

### Groupby

In [19]:
# O que ta acontecendo?????????? (aparentemente somou tudo)

sexo_total = rj_epilepsia_total.groupby('AP_SEXO').count()
sexo_total

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
AP_SEXO,,,,,,,,,,,,,,,,,,,,,
F,37981,37981,37981,37981,37981,37981,37981,37981,37981,37981,...,37981,37981,37981,0,37981,37981,37981,37981,37981,24206
M,32575,32575,32575,32575,32575,32575,32575,32575,32575,32575,...,32575,32575,32575,0,32575,32575,32575,32575,32575,21304

In [20]:
# Aparentemente da certo assim

colunas = ['AP_SEXO', 'AP_CNSPCN']
sexooo = rj_epilepsia_total.filter(items=colunas)
sexooo

      AP_SEXO        AP_CNSPCN
0           F  âäâ{{~é|{||â{Ç}
1           F  âäâ{{}ä}â{âÇüäâ
2           F  âäâ{{|}é~{â{ââ
3           F  }{{ü|ÇÇüâü{{{{
4           F  é{{ü{üüü|}ü~
...       ...              ...
70551       F  é{|{{{âä|}Çä{
70552       F  é{ü{}~}{Ç~ä{
70553       F  é{{|{Çäâ}ü~|||
70554       F  é{}{{éâ{ééâéüâé
70555       F  é{âÇ{â{|Çää{éâ{

[70556 rows x 2 columns]

In [21]:
# Nao sei se deu certo ou se so contou mortes, mas pelo numero total somando parece que contou tudo

sexooo.drop_duplicates('AP_CNSPCN').groupby('AP_SEXO').count()

         AP_CNSPCN
AP_SEXO
F             2564
M             2043

### Proximos passos

Coluna com mes de competencia e linha com CNS do paciente -> os valores devem ser 0 ou 1  (procurar pandas.DataFrame.pivot_table)

Ao inves de ter o paciente nas linhas fazer com o procedimento AP_PRIPAL (fazer um dicionario para saber em string o correspondente do SIGTAP)

Limpar as colunas que nao estao marcadas e renomear

In [22]:
table = pd.pivot_table(rj_epilepsia_total, values='AP_SEXO', index=['AP_CNSPCN', 'AP_PRIPAL'],
                       columns=['AP_CMP'], aggfunc='count', fill_value=0)
table

AP_CMP                     201410  201411  201412  201501  201502  201503  \
AP_CNSPCN       AP_PRIPAL
|{{|{â{äâü|{{|â 604500017       0       0       0       1       1       1
|{{|ä}{ÇÇ~{{{ 604500025       0       0       0       1       1       1
|{{äéé|Ç}{{{{} 604500017       0       0       1       0       0       1
|{||}}{~}{{{{ 604500017       0       0       0       1       1       0
|{||éâ{â{{{{{ 604500017       0       0       0       0       0       0
...                           ...     ...     ...     ...     ...     ...
é{üé{äÇä~Ç~â|Ç 604500106       0       0       0       0       0       0
                604500114       0       0       0       0       0       0
é{üé{ééä|Ç}}{ 604500076       0       0       0       0       0       0
é{üé{ü}~Çéé{é}{ 604500068       0       0       0       0       0       0
é{üü{âÇüééÇÇ}|{ 604500114       0       0       0       0       0       0

AP_CMP                     201504  201505  201506  201507  ...  202203  \
AP_CNSPCN       AP_PRIPAL                                  ...
|{{|{â{äâü|{{|â 604500017       0       0       0       0  ...       0
|{{|ä}{ÇÇ~{{{ 604500025       0       0       1       0  ...       0
|{{äéé|Ç}{{{{} 604500017       1       1       0       0  ...       0
|{||}}{~}{{{{ 604500017       0       0       0       0  ...       0
|{||éâ{â{{{{{ 604500017       0       0       0       0  ...       0
...                           ...     ...     ...     ...  ...     ...
é{üé{äÇä~Ç~â|Ç 604500106       0       0       0       0  ...       1
                604500114       0       0       0       0  ...       0
é{üé{ééä|Ç}}{ 604500076       0       0       0       0  ...       0
é{üé{ü}~Çéé{é}{ 604500068       0       0       0       0  ...       0
é{üü{âÇüééÇÇ}|{ 604500114       0       0       0       0  ...       0

AP_CMP                     202204  202205  202206  202207  202208  202209  \
AP_CNSPCN       AP_PRIPAL
|{{|{â{äâü|{{|â 604500017       0       0       0       0       0       0
|{{|ä}{ÇÇ~{{{ 604500025       0       0       0       0       0       0
|{{äéé|Ç}{{{{} 604500017       0       0       0       0       0       0
|{||}}{~}{{{{ 604500017       0       0       0       0       0       0
|{||éâ{â{{{{{ 604500017       0       0       0       0       0       0
...                           ...     ...     ...     ...     ...     ...
é{üé{äÇä~Ç~â|Ç 604500106       1       0       0       0       0       0
                604500114       0       1       1       1       0       1
é{üé{ééä|Ç}}{ 604500076       0       0       0       0       1       1
é{üé{ü}~Çéé{é}{ 604500068       0       0       0       0       0       0
é{üü{âÇüééÇÇ}|{ 604500114       0       0       0       1       1       1

AP_CMP                     202210  202211  202212
AP_CNSPCN       AP_PRIPAL
|{{|{â{äâü|{{|â 604500017       0       0       0
|{{|ä}{ÇÇ~{{{ 604500025       0       0       0
|{{äéé|Ç}{{{{} 604500017       0       0       0
|{||}}{~}{{{{ 604500017       0       0       0
|{||éâ{â{{{{{ 604500017       0       0       0
...                           ...     ...     ...
é{üé{äÇä~Ç~â|Ç 604500106       0       0       0
                604500114       1       1       1
é{üé{ééä|Ç}}{ 604500076       1       0       1
é{üé{ü}~Çéé{é}{ 604500068       0       0       0
é{üü{âÇüééÇÇ}|{ 604500114       0       0       0

[5510 rows x 99 columns]

In [23]:
paciente = ['é{üé{äÇä~Ç~â|Ç']
selecao = rj_epilepsia_total['AP_CNSPCN'].isin(paciente)
dadosPaciente = rj_epilepsia_total[selecao]
dadosPaciente[['AP_APACANT']]

       AP_APACANT
54514           0
54924           0
55278           0
56415           0
57346           0
57806           0
59204           0
61183           0
61255           0
62514           0
63120           0
66021           0
67110           0
68177           0
70196           0