# Tratamento das Bases de Epilepsia do Rio de Janeiro de 2015 a 2022

## Observações

Para que este notebook funcione corretamente devem ser importadas as bases de dados do SIASUS de 2015 a 2022 de epilepsia do estado do Rio de Janeiro

## Coisas para fazer:

Formatação de colunas:

-> Criar outra coluna equivalente as ja existentes para fazer o tratamento dos dados:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- juntar o codigo da idade e o numero da idade em uma coluna "idade"<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- codigo_uf_municipio_residencia -> botar o nome do municipio (https://www.ibge.gov.br/explica/codigos-dos-municipios.php#RJ)<br>

# Importando as Bases

In [55]:
import pandas as pd

In [56]:
rj_epilepsia_2015 = pd.read_csv('/content/rj_epilepsia_2015.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2015

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_DTAUT,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT
0,201501,EP,330000,4046374,3315200161306,201501,604190018,0.0,330455,43,...,20150102,0,G404,0,NaN,13,110,N,0,N
1,201501,EP,330000,4046374,3315200115293,201501,604500084,0.0,330455,43,...,20150102,0,G403,0,NaN,55,152,N,0,N
2,201501,EP,330000,4046374,3315200117823,201501,604500076,0.0,330455,43,...,20150102,0,G400,0,NaN,0,0,N,0,N
3,201501,EP,330000,4046374,3314207160320,201412,604500017,0.0,330455,43,...,20141202,0,G404,0,NaN,50,154,N,0,N
4,201501,EP,330000,4046374,3314206988675,201501,604500084,0.0,330455,43,...,20141202,0,G404,0,NaN,25,98,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13989,201512,EP,330000,4046374,3315205213310,201512,604500050,0.0,330455,43,...,20151002,0,G403,0,NaN,34,150,N,0,N
13990,201512,EP,330000,4046374,3315205025693,201512,604500076,0.0,330455,43,...,20151002,0,G404,0,NaN,12,94,N,0,N
13991,201512,EP,330000,4046374,3315205275140,201511,604500068,0.0,330455,43,...,20151002,0,G400,0,NaN,81,170,N,0,N
13992,201512,EP,330000,4046374,3315205955160,201512,604500017,0.0,330455,43,...,20151202,0,G408,0,NaN,71,189,N,0,N
13993,201512,EP,330000,4046374,3315205929926,201512,604500084,0.0,330455,43,...,20151202,0,G400,0,NaN,80,156,N,0,N

In [57]:
rj_epilepsia_2016 = pd.read_csv('/content/rj_epilepsia_2016.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2016

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_DTAUT,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT
0,201601,EP,330000,4046374,3315205574065,201601,604500050,0.0,330455,43,...,20151202,0,G403,0,NaN,63,173,N,0,N
1,201601,EP,330000,4046374,3315205435916,201601,604500050,0.0,330455,43,...,20151202,0,G402,0,NaN,72,172,N,0,N
2,201601,EP,330000,4046374,3315205414576,201601,604500017,0.0,330455,43,...,20151102,0,G406,0,NaN,71,172,N,0,N
3,201601,EP,330000,4046374,3315205098580,201512,604500017,0.0,330455,43,...,20151002,0,G405,0,NaN,47,152,N,0,N
4,201601,EP,330000,4046374,3315205922985,201601,604500050,0.0,330455,43,...,20151202,0,G405,0,NaN,82,186,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11047,201612,EP,330000,4046374,3316203573551,201610,604500017,0.0,330455,43,...,20160802,0,G405,0,NaN,47,152,N,0,N
11048,201612,EP,330000,4046374,3316203498916,201610,604500017,0.0,330455,43,...,20160802,0,G402,0,NaN,53,132,N,0,N
11049,201612,EP,330000,4046374,3316203498399,201610,604500017,0.0,330455,43,...,20160802,0,G408,0,NaN,0,0,N,0,N
11050,201612,EP,330000,4046374,3316204937090,201612,604500050,0.0,330455,43,...,20161102,0,G400,0,NaN,83,180,N,0,N
11051,201612,EP,330000,4046374,3316205241888,201612,604500017,0.0,330455,43,...,20161202,0,G401,0,NaN,78,175,N,0,N

In [58]:
rj_epilepsia_2017 = pd.read_csv('/content/rj_epilepsia_2017.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2017

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201701,EP,330000,4046374,3316203549494,201610,604500017,0.0,330455,43,...,0,G408,0,NaN,87,170,N,0,N,1023
1,201701,EP,330000,4046374,3317200066807,201701,604500017,0.0,330455,43,...,0,G408,0,NaN,55,155,N,0,N,1023
2,201701,EP,330000,4046374,3316205273216,201701,604500017,0.0,330455,43,...,0,G408,0,NaN,85,170,N,0,N,1023
3,201701,EP,330000,4046374,3317200034490,201701,604500017,0.0,330455,43,...,0,G407,0,NaN,57,174,N,0,N,1023
4,201701,EP,330000,4046374,3317200070481,201701,604500017,0.0,330455,43,...,0,G400,0,NaN,82,154,N,0,N,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,201712,EP,330000,4046374,3317200588560,201712,604500050,0.0,330455,43,...,0,G407,0,NaN,70,155,N,0,N,1023
1632,201712,EP,330000,4046374,3317204979561,201712,604500050,0.0,330455,43,...,0,G400,0,NaN,56,165,N,0,N,1023
1633,201712,EP,330000,4046374,3317200584192,201712,604500050,0.0,330455,43,...,0,G405,0,NaN,65,162,N,0,N,1023
1634,201712,EP,330000,4046374,3317204977977,201712,604500050,0.0,330455,43,...,0,G401,0,NaN,82,180,N,0,N,1023
1635,201712,EP,330000,4046374,3317204987866,201712,604500050,0.0,330455,43,...,0,G402,0,NaN,0,0,N,0,N,1023

In [59]:
rj_epilepsia_2018 = pd.read_csv('/content/rj_epilepsia_2018.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2018

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201801,EP,330000,4046374,3317200594092,201801,604500050,0.0,330455,43,...,0,G403,0,NaN,60,160,N,0,N,1023
1,201801,EP,330000,4046374,3317200597601,201801,604500050,0.0,330455,43,...,0,G403,0,NaN,96,166,N,0,N,1023
2,201801,EP,330000,4046374,3318200117232,201801,604500050,0.0,330455,43,...,0,G408,0,NaN,69,165,N,0,N,1023
3,201801,EP,330000,4046374,3317200550378,201801,604500050,0.0,330455,43,...,0,G408,0,NaN,87,154,N,0,N,1023
4,201801,EP,330000,4046374,3317203953261,201801,604500050,0.0,330455,43,...,0,G400,0,NaN,37,165,N,0,N,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531,201812,EP,330000,4046374,3318206904386,201812,604500017,0.0,330455,43,...,0,G402,0,NaN,70,170,N,0,N,1023
5532,201812,EP,330000,4046374,3318205387387,201812,604500068,0.0,330455,43,...,0,G400,0,NaN,88,175,N,0,N,1023
5533,201812,EP,330000,4046374,3318204087430,201812,604500084,0.0,330455,43,...,0,G408,0,NaN,26,115,N,0,N,1023
5534,201812,EP,330000,4046374,3318204011969,201812,604500050,0.0,330455,43,...,0,G408,0,NaN,72,162,N,0,N,1023
5535,201812,EP,330000,4046374,3318204035795,201812,604500050,0.0,330455,43,...,0,G400,0,NaN,61,160,N,0,N,1023

In [60]:
rj_epilepsia_2019 = pd.read_csv('/content/rj_epilepsia_2019.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2019

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201901,EP,330000,4046374,3318206838177,201901,604500084,0.0,330455,43,...,0,G400,0,NaN,45,165,N,0,N,1023
1,201901,EP,330000,4046374,3319202185464,201901,604500050,0.0,330455,43,...,0,G403,0,NaN,62,165,N,0,N,1023
2,201901,EP,330000,4046374,3319202013523,201901,604500050,0.0,330455,43,...,0,G403,0,NaN,70,160,N,0,N,1023
3,201901,EP,330000,4046374,3319202025106,201901,604500017,0.0,330455,43,...,0,G400,0,NaN,68,155,N,0,N,1023
4,201901,EP,330000,4046374,3319202057798,201901,604500050,0.0,330455,43,...,0,G404,0,NaN,95,175,N,0,N,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5467,201912,EP,330000,4046374,3319202346911,201912,604500017,0.0,330455,43,...,0,G400,0,NaN,98,161,N,0,N,1023
5468,201912,EP,330000,4046374,3319205902672,201909,604500084,0.0,330455,43,...,0,G403,0,NaN,64,187,N,0,N,1023
5469,201912,EP,330000,4046374,3319200736258,201912,604500050,0.0,330455,43,...,0,G400,0,NaN,70,169,N,0,N,1023
5470,201912,EP,330000,4046374,3319206062810,201912,604500084,0.0,330455,43,...,0,G400,0,NaN,45,150,N,0,N,1023
5471,201912,EP,330000,4046374,3319202343798,201912,604500050,0.0,330455,43,...,0,G400,0,NaN,82,165,N,0,N,1023

In [61]:
rj_epilepsia_2020 = pd.read_csv('/content/rj_epilepsia_2020.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2020

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,202001,EP,330000,4046374,3319200833256,202001,604190018,0.0,330455,43,...,0,G404,0,NaN,120,93,N,0,N,1023
1,202001,EP,330000,4046374,3319200821948,202001,604190018,0.0,330455,43,...,0,G404,0,NaN,9,74,N,0,N,1023
2,202001,EP,330000,4046374,3320203854022,202001,604500068,0.0,330455,43,...,0,G408,0,NaN,67,164,N,0,N,1023
3,202001,EP,330000,4046374,3319205996271,201912,604500050,0.0,330455,43,...,0,G400,0,NaN,75,170,N,0,N,1023
4,202001,EP,330000,4046374,3319202313890,202001,604500050,0.0,330455,43,...,0,G400,0,NaN,64,160,N,0,N,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9004,202012,EP,330000,4046374,3320206368930,202012,604500050,0.0,330455,43,...,0,G408,0,NaN,86,171,N,0,N,1023
9005,202012,EP,330000,3343715,3320203197102,202012,604500084,0.0,330455,68,...,0,G403,0,NaN,70,163,N,0,N,1023
9006,202012,EP,330000,3343715,3320203380000,202012,604500084,0.0,330455,68,...,0,G400,0,NaN,800,180,N,0,N,1023
9007,202012,EP,330000,3343715,3320203505498,202012,604500076,0.0,330455,68,...,0,G402,0,NaN,70,163,N,0,N,1023
9008,202012,EP,330000,4046374,3320202994010,202012,604500084,0.0,330455,43,...,0,G408,0,NaN,85,155,N,0,N,1023

In [62]:
rj_epilepsia_2021 = pd.read_csv('/content/rj_epilepsia_2021.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2021

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,202101,EP,330000,4046374,3320203130299,202101,604500084,0.0,330455,43,...,0,G404,0,NaN,67,160,N,0,N,1023
1,202101,EP,330000,4046374,3320203393342,202101,604500050,0.0,330455,43,...,0,G400,0,NaN,96,175,N,0,N,1023
2,202101,EP,330000,3343715,3320203340036,202101,604500050,0.0,330455,68,...,0,G400,0,NaN,37,140,N,0,N,1023
3,202101,EP,330000,4046374,3320206369865,202101,604500050,0.0,330455,43,...,0,G401,0,NaN,83,173,N,0,N,1023
4,202101,EP,330000,4046374,3320206370426,202101,604500084,0.0,330455,43,...,0,G408,0,NaN,77,161,N,0,N,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9733,202112,EP,330000,3343715,3321206049470,202112,604500050,0.0,330455,68,...,0,G400,0,NaN,32,150,N,0,N,1023
9734,202112,EP,330000,4046374,3321203338695,202112,604190018,0.0,330455,43,...,0,G404,0,NaN,60,66,N,0,N,1023
9735,202112,EP,330000,4046374,3321203291373,202112,604190018,0.0,330455,43,...,0,G400,0,NaN,13,100,N,0,N,1023
9736,202112,EP,330000,3343715,3321206089531,202112,604500050,0.0,330455,68,...,0,G403,0,NaN,72,165,N,0,N,1023
9737,202112,EP,330000,4046374,3321203377855,202112,604500050,0.0,330455,43,...,0,G401,0,NaN,60,165,N,0,N,1023

In [63]:
rj_epilepsia_2022 = pd.read_csv('/content/rj_epilepsia_2022.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2022

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,202201,EP,330000,3343715,3321203455328,202201,604500050,0.0,330455,68,...,0,G400,0,NaN,50,170,N,0,N,1023
1,202201,EP,330000,4046374,3321205194043,202201,604500050,0.0,330455,43,...,0,G403,0,NaN,62,155,N,0,N,1023
2,202201,EP,330000,4046374,3321203381265,202201,604500050,0.0,330455,43,...,0,G400,0,NaN,65,160,N,0,N,1023
3,202201,EP,330000,4046374,3322200226719,202201,604500106,0.0,330455,43,...,0,G408,0,NaN,72,181,N,0,N,1023
4,202201,EP,330000,4046374,3322200030897,202201,604500106,0.0,330455,43,...,0,G404,0,NaN,53,150,N,0,N,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14114,202212,EP,330000,3343715,3322202226057,202212,604500076,0.0,330455,68,...,0,G408,0,NaN,60,160,N,0,N,1023
14115,202212,EP,330000,3343715,3322202030092,202212,604500050,0.0,330455,68,...,0,G404,0,NaN,69,170,N,0,N,1023
14116,202212,EP,330000,3343715,3322202248387,202212,604500050,0.0,330455,68,...,0,G408,0,NaN,49,165,N,0,N,1023
14117,202212,EP,330000,3343715,3322202176260,202212,604500050,0.0,330455,68,...,0,G400,0,NaN,60,153,N,0,N,1023
14118,202212,EP,330000,4046374,3322202210382,202212,604500106,0.0,330455,43,...,0,G402,0,NaN,75,165,N,0,N,1023

# Concatenando, Refazendo o Indice e exportando

In [64]:
# Concatenando as bases

rj_epilepsia_total = pd.concat([rj_epilepsia_2015, rj_epilepsia_2016, rj_epilepsia_2017, rj_epilepsia_2018, rj_epilepsia_2019, rj_epilepsia_2020, rj_epilepsia_2021, rj_epilepsia_2022], axis=0)
rj_epilepsia_total

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201501,EP,330000,4046374,3315200161306,201501,604190018,0.0,330455,43,...,0,G404,0,NaN,13,110,N,0,N,NaN
1,201501,EP,330000,4046374,3315200115293,201501,604500084,0.0,330455,43,...,0,G403,0,NaN,55,152,N,0,N,NaN
2,201501,EP,330000,4046374,3315200117823,201501,604500076,0.0,330455,43,...,0,G400,0,NaN,0,0,N,0,N,NaN
3,201501,EP,330000,4046374,3314207160320,201412,604500017,0.0,330455,43,...,0,G404,0,NaN,50,154,N,0,N,NaN
4,201501,EP,330000,4046374,3314206988675,201501,604500084,0.0,330455,43,...,0,G404,0,NaN,25,98,N,0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14114,202212,EP,330000,3343715,3322202226057,202212,604500076,0.0,330455,68,...,0,G408,0,NaN,60,160,N,0,N,1023.0
14115,202212,EP,330000,3343715,3322202030092,202212,604500050,0.0,330455,68,...,0,G404,0,NaN,69,170,N,0,N,1023.0
14116,202212,EP,330000,3343715,3322202248387,202212,604500050,0.0,330455,68,...,0,G408,0,NaN,49,165,N,0,N,1023.0
14117,202212,EP,330000,3343715,3322202176260,202212,604500050,0.0,330455,68,...,0,G400,0,NaN,60,153,N,0,N,1023.0
14118,202212,EP,330000,4046374,3322202210382,202212,604500106,0.0,330455,43,...,0,G402,0,NaN,75,165,N,0,N,1023.0

In [65]:
# Refazendo o Indice

rj_epilepsia_total.index = range(rj_epilepsia_total.shape[0])
rj_epilepsia_total

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
0,201501,EP,330000,4046374,3315200161306,201501,604190018,0.0,330455,43,...,0,G404,0,NaN,13,110,N,0,N,NaN
1,201501,EP,330000,4046374,3315200115293,201501,604500084,0.0,330455,43,...,0,G403,0,NaN,55,152,N,0,N,NaN
2,201501,EP,330000,4046374,3315200117823,201501,604500076,0.0,330455,43,...,0,G400,0,NaN,0,0,N,0,N,NaN
3,201501,EP,330000,4046374,3314207160320,201412,604500017,0.0,330455,43,...,0,G404,0,NaN,50,154,N,0,N,NaN
4,201501,EP,330000,4046374,3314206988675,201501,604500084,0.0,330455,43,...,0,G404,0,NaN,25,98,N,0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70551,202212,EP,330000,3343715,3322202226057,202212,604500076,0.0,330455,68,...,0,G408,0,NaN,60,160,N,0,N,1023.0
70552,202212,EP,330000,3343715,3322202030092,202212,604500050,0.0,330455,68,...,0,G404,0,NaN,69,170,N,0,N,1023.0
70553,202212,EP,330000,3343715,3322202248387,202212,604500050,0.0,330455,68,...,0,G408,0,NaN,49,165,N,0,N,1023.0
70554,202212,EP,330000,3343715,3322202176260,202212,604500050,0.0,330455,68,...,0,G400,0,NaN,60,153,N,0,N,1023.0
70555,202212,EP,330000,4046374,3322202210382,202212,604500106,0.0,330455,43,...,0,G402,0,NaN,75,165,N,0,N,1023.0

In [92]:
# Exportando

rj_epilepsia_total.to_csv('/content/rj_epilepsia_total.csv', sep =';')

# Formatando as colunas

## Mudando o nome das Colunas

In [ ]:
# Selecionando apenas as colunas que são interessantes para a nossa analise

colunas_desejadas = ['AP_MVM', 'AP_CMP', 'AP_PRIPAL', 'AP_CNSPCN', 'AP_COIDADE', 'AP_NUIDADE', 'AP_SEXO', 'AP_RACACOR', 'AP_MUNPCN', 'AP_CEPPCN', 'AP_TPATEN', 'AP_TPAPAC', 'AP_MOTSAI', 'AP_OBITO', 'AP_ENCERR', 'AP_PERMAN', 'AP_ALTA', 'AP_TRANSF', 'AP_DTOCOR', 'AP_APACANT', 'AP_CIDCAS', 'AP_CIDPRI', 'AP_CIDSEC']
rj_epilepsia_total = pd.DataFrame(rj_epilepsia_total[colunas_desejadas])
rj_epilepsia_total

In [68]:
# Renomeando as colunas

novo_nome_colunas = {'AP_MVM': 'data_processamento', 'AP_CMP': 'data_atendimento_paciente', 'AP_PRIPAL': 'procedimento_principal', 'AP_CNSPCN': 'numero_cns_paciente', 'AP_COIDADE': 'codigo_idade_paciente', 'AP_NUIDADE': 'numero_idade', 'AP_SEXO': 'sexo_paciente', 'AP_RACACOR': 'raca_paciente', 'AP_MUNPCN': 'codigo_uf_municipio_residencia', 'AP_CEPPCN': 'cep_paciente', 'AP_TPATEN': 'tipo_atendimento', 'AP_TPAPAC': 'tipo_apac', 'AP_MOTSAI': 'motivo_saida_permanencia', 'AP_OBITO': 'indicador_obito', 'AP_ENCERR': 'indicador_encerramento', 'AP_PERMAN': 'indicador_permanencia', 'AP_ALTA': 'indicador_alta', 'AP_TRANSF': 'indicador_transferencia', 'AP_DTOCOR': 'data_ocorrencia', 'AP_APACANT': 'numero_apac_anterior', 'AP_CIDCAS': 'cid_causas_associadas', 'AP_CIDPRI': 'cid_principal', 'AP_CIDSEC': 'cid_sencundario'}

In [ ]:
# Renomeando no DF

rj_epilepsia_total = rj_epilepsia_total.rename(columns=novo_nome_colunas)
rj_epilepsia_total

In [70]:
rj_epilepsia_total.to_csv('/content/rj_epilepsia_total.csv', sep =';')

## Criando colunas com valores Equivalentes

### Motivo_saida_permanencia

In [71]:
dic_motivo_saida_permanencia = {
    11: 'Alta_Curado',
    12: 'Alta_Melhorado',
    13: 'Alta_Puerpera_Permanencia',
    14: 'Alta_Pedido',
    15: 'Alta_Previsao_Acompanhamento',
    16: 'Alta_Evasao',
    17: 'Alta_Puerpera_Recem_nascido',
    18: 'Alta_Outros',
    21: 'Permanencia_Caracteristicas_Doenca',
    22: 'Permanencia_Intercorrencia',
    23: 'Permanencia_Impossibilidade_Sociofamiliar',
    24: 'Permanencia_Doador_Vivo',
    25: 'Permanencia_Doador_Morto',
    26: 'Permanencia_Mudanca_Procedimento',
    27: 'Permanencia_Reoperacao',
    28: 'Permanencia_Outros',
    31: 'Transferencia_Outro_Estabelecimento',
    41: 'Obito_Declaracao_Medico_Assistente',
    42: 'Obito_Declaracao_IML',
    43: 'Obito_Declaracao_SVO',
    51: 'Encerramento_Administrativo'
}

In [72]:
rj_epilepsia_total['motivo_saida_permanencia_extenso'] = rj_epilepsia_total['motivo_saida_permanencia'].map(dic_motivo_saida_permanencia)

In [ ]:
rj_epilepsia_total

### Procedimento_principal

In [88]:
dic_procedimento_principal = {
    604190018: 'Vigabatrina 500 MG',
    604500084: 'Topiramato 100 MG',
    604500076: 'Topiramato 50 MG',
    604500017: 'Gabapentina 300 MG',
    604500050: 'Lamotrigina 100 MG',
    604500068: 'Topiramato 25 MG',
    604500025: 'Gabapentina 400 MG',
    604500092: 'Levetiracetam 100 MG/ML (Por Frasco de 150 ML)',
    604500122: 'Levetiracetam 100 MG/ML (Por Frasco de 100 ML)',
    604500106: 'Levetiracetam 250 MG',
    604500114: 'Levetiracetam 750 MG'
}

In [89]:
rj_epilepsia_total['procedimento_principal_extenso'] = rj_epilepsia_total['procedimento_principal'].map(dic_procedimento_principal)

In [90]:
rj_epilepsia_total

,data_processamento,data_atendimento_paciente,procedimento_principal,numero_cns_paciente,codigo_idade_paciente,numero_idade,sexo_paciente,raca_paciente,codigo_uf_municipio_residencia,cep_paciente,...,indicador_permanencia,indicador_alta,indicador_transferencia,data_ocorrencia,numero_apac_anterior,cid_causas_associadas,cid_principal,cid_sencundario,motivo_saida_permanencia_extenso,procedimento_principal_extenso
0,201501,201501,604190018,âäâ{{~é|{||â{Ç},4,7,F,99,330580,20211160,...,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca,Vigabatrina 500 MG
1,201501,201501,604500084,âäâ{{}ä}â{âÇüäâ,4,17,F,99,330225,20211160,...,1,0,0,NaN,0,0,G403,0,Permanencia_Caracteristicas_Doenca,Topiramato 100 MG
2,201501,201501,604500076,âäâ{{|}é~{â{ââ,4,14,F,99,330350,26150470,...,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca,Topiramato 50 MG
3,201501,201412,604500017,}{{ü|ÇÇüâü{{{{,4,58,F,99,330070,28910080,...,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca,Gabapentina 300 MG
4,201501,201501,604500084,é{{ü{üüü|}ü~,4,6,F,99,330455,21235270,...,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca,Topiramato 100 MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70551,202212,202212,604500076,é{|{{{âä|}Çä{,4,18,F,3,330480,28400000,...,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca,Topiramato 50 MG
70552,202212,202212,604500050,é{ü{}~}{Ç~ä{,4,42,F,99,330490,24436790,...,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca,Lamotrigina 100 MG
70553,202212,202212,604500050,é{{|{Çäâ}ü~|||,4,40,F,1,330615,28375000,...,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca,Lamotrigina 100 MG
70554,202212,202212,604500050,é{}{{éâ{ééâéüâé,4,37,F,99,330340,28605000,...,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca,Lamotrigina 100 MG
70555,202212,202212,604500106,é{âÇ{â{|Çää{éâ{,4,52,F,3,330555,23895705,...,1,0,0,NaN,0,0,G402,0,Permanencia_Caracteristicas_Doenca,Levetiracetam 250 MG

# Análise Exploratória

## Por sexo

### Feminino

In [74]:
sexo = ['F']
selecao = rj_epilepsia_total['sexo_paciente'].isin(sexo)

In [75]:
sexo_fem = rj_epilepsia_total[selecao]
sexo_fem

,data_processamento,data_atendimento_paciente,procedimento_principal,numero_cns_paciente,codigo_idade_paciente,numero_idade,sexo_paciente,raca_paciente,codigo_uf_municipio_residencia,cep_paciente,...,indicador_encerramento,indicador_permanencia,indicador_alta,indicador_transferencia,data_ocorrencia,numero_apac_anterior,cid_causas_associadas,cid_principal,cid_sencundario,motivo_saida_permanencia_extenso
0,201501,201501,604190018,âäâ{{~é|{||â{Ç},4,7,F,99,330580,20211160,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
1,201501,201501,604500084,âäâ{{}ä}â{âÇüäâ,4,17,F,99,330225,20211160,...,0,1,0,0,NaN,0,0,G403,0,Permanencia_Caracteristicas_Doenca
2,201501,201501,604500076,âäâ{{|}é~{â{ââ,4,14,F,99,330350,26150470,...,0,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca
3,201501,201412,604500017,}{{ü|ÇÇüâü{{{{,4,58,F,99,330070,28910080,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
4,201501,201501,604500084,é{{ü{üüü|}ü~,4,6,F,99,330455,21235270,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70551,202212,202212,604500076,é{|{{{âä|}Çä{,4,18,F,3,330480,28400000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
70552,202212,202212,604500050,é{ü{}~}{Ç~ä{,4,42,F,99,330490,24436790,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
70553,202212,202212,604500050,é{{|{Çäâ}ü~|||,4,40,F,1,330615,28375000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
70554,202212,202212,604500050,é{}{{éâ{ééâéüâé,4,37,F,99,330340,28605000,...,0,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca
70555,202212,202212,604500106,é{âÇ{â{|Çää{éâ{,4,52,F,3,330555,23895705,...,0,1,0,0,NaN,0,0,G402,0,Permanencia_Caracteristicas_Doenca

In [76]:
sexo_fem.index = range(sexo_fem.shape[0])
sexo_fem

,data_processamento,data_atendimento_paciente,procedimento_principal,numero_cns_paciente,codigo_idade_paciente,numero_idade,sexo_paciente,raca_paciente,codigo_uf_municipio_residencia,cep_paciente,...,indicador_encerramento,indicador_permanencia,indicador_alta,indicador_transferencia,data_ocorrencia,numero_apac_anterior,cid_causas_associadas,cid_principal,cid_sencundario,motivo_saida_permanencia_extenso
0,201501,201501,604190018,âäâ{{~é|{||â{Ç},4,7,F,99,330580,20211160,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
1,201501,201501,604500084,âäâ{{}ä}â{âÇüäâ,4,17,F,99,330225,20211160,...,0,1,0,0,NaN,0,0,G403,0,Permanencia_Caracteristicas_Doenca
2,201501,201501,604500076,âäâ{{|}é~{â{ââ,4,14,F,99,330350,26150470,...,0,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca
3,201501,201412,604500017,}{{ü|ÇÇüâü{{{{,4,58,F,99,330070,28910080,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
4,201501,201501,604500084,é{{ü{üüü|}ü~,4,6,F,99,330455,21235270,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37976,202212,202212,604500076,é{|{{{âä|}Çä{,4,18,F,3,330480,28400000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
37977,202212,202212,604500050,é{ü{}~}{Ç~ä{,4,42,F,99,330490,24436790,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
37978,202212,202212,604500050,é{{|{Çäâ}ü~|||,4,40,F,1,330615,28375000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
37979,202212,202212,604500050,é{}{{éâ{ééâéüâé,4,37,F,99,330340,28605000,...,0,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca
37980,202212,202212,604500106,é{âÇ{â{|Çää{éâ{,4,52,F,3,330555,23895705,...,0,1,0,0,NaN,0,0,G402,0,Permanencia_Caracteristicas_Doenca

In [77]:
# INVESTIGAR (TO TENTANDO CONTAR OS PACIENTES UNICOS MAS NAO TEM 37K DE MULHERES UNICAS)

# sexo_fem.drop_duplicates('numero_cns_paciente').count()

colunas = ['numero_cns_paciente']
sexofem = sexo_fem.filter(items=colunas)
#sexofem.drop_duplicates('numero_cns_paciente').groupby('sexo_paciente').count()
sexofem.drop_duplicates().count()
sexofem

      numero_cns_paciente
0         âäâ{{~é|{||â{Ç}
1         âäâ{{}ä}â{âÇüäâ
2         âäâ{{|}é~{â{ââ
3         }{{ü|ÇÇüâü{{{{
4         é{{ü{üüü|}ü~
...                   ...
37976     é{|{{{âä|}Çä{
37977     é{ü{}~}{Ç~ä{
37978     é{{|{Çäâ}ü~|||
37979     é{}{{éâ{ééâéüâé
37980     é{âÇ{â{|Çää{éâ{

[37981 rows x 1 columns]

### Masculino

In [78]:
sexo = ['M']
selecao = rj_epilepsia_total['sexo_paciente'].isin(sexo)

In [79]:
sexo_masc = rj_epilepsia_total[selecao]
sexo_masc

,data_processamento,data_atendimento_paciente,procedimento_principal,numero_cns_paciente,codigo_idade_paciente,numero_idade,sexo_paciente,raca_paciente,codigo_uf_municipio_residencia,cep_paciente,...,indicador_encerramento,indicador_permanencia,indicador_alta,indicador_transferencia,data_ocorrencia,numero_apac_anterior,cid_causas_associadas,cid_principal,cid_sencundario,motivo_saida_permanencia_extenso
5,201501,201501,604500076,â{|~~Çüüéü}ä,4,13,M,99,330455,20930390,...,0,1,0,0,NaN,0,0,G407,0,Permanencia_Caracteristicas_Doenca
8,201501,201501,604500068,âäâ{{||{~âüÇéä|,4,8,M,99,330455,20211160,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
9,201501,201412,604500068,âäâ{{~ä|ä}Çü{}â,4,1,M,99,330480,28400000,...,1,0,0,0,20141201.0,0,0,G405,0,Encerramento_Administrativo
11,201501,201412,604500076,âäâ{{}éâ|éüÇé|â,4,12,M,99,330420,20211160,...,1,0,0,0,20141201.0,0,0,G404,0,Encerramento_Administrativo
13,201501,201501,604190018,â{|~|}ü|}üéü,4,6,M,99,330455,20211160,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70539,202212,202212,604500114,é{â{äÇäâéÇ~},4,58,M,99,330452,28895612,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
70540,202212,202212,604500122,âäâ{{ü}â|~{éäÇ|,3,8,M,1,330340,28633090,...,0,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca
70542,202212,202212,604500017,é{{{é~âé~âä}Ç{,4,66,M,99,330010,23970000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
70543,202212,202212,604190018,é{é{ü{|äééé,4,3,M,1,330100,28110000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
70550,202212,202212,604190018,é{Ç{{{}}Çüé{ÇÇ,4,12,M,1,330100,28070505,...,0,1,0,0,NaN,0,0,G401,0,Permanencia_Caracteristicas_Doenca

In [80]:
sexo_masc.index = range(sexo_masc.shape[0])
sexo_masc

,data_processamento,data_atendimento_paciente,procedimento_principal,numero_cns_paciente,codigo_idade_paciente,numero_idade,sexo_paciente,raca_paciente,codigo_uf_municipio_residencia,cep_paciente,...,indicador_encerramento,indicador_permanencia,indicador_alta,indicador_transferencia,data_ocorrencia,numero_apac_anterior,cid_causas_associadas,cid_principal,cid_sencundario,motivo_saida_permanencia_extenso
0,201501,201501,604500076,â{|~~Çüüéü}ä,4,13,M,99,330455,20930390,...,0,1,0,0,NaN,0,0,G407,0,Permanencia_Caracteristicas_Doenca
1,201501,201501,604500068,âäâ{{||{~âüÇéä|,4,8,M,99,330455,20211160,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
2,201501,201412,604500068,âäâ{{~ä|ä}Çü{}â,4,1,M,99,330480,28400000,...,1,0,0,0,20141201.0,0,0,G405,0,Encerramento_Administrativo
3,201501,201412,604500076,âäâ{{}éâ|éüÇé|â,4,12,M,99,330420,20211160,...,1,0,0,0,20141201.0,0,0,G404,0,Encerramento_Administrativo
4,201501,201501,604190018,â{|~|}ü|}üéü,4,6,M,99,330455,20211160,...,0,1,0,0,NaN,0,0,G404,0,Permanencia_Caracteristicas_Doenca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32570,202212,202212,604500114,é{â{äÇäâéÇ~},4,58,M,99,330452,28895612,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
32571,202212,202212,604500122,âäâ{{ü}â|~{éäÇ|,3,8,M,1,330340,28633090,...,0,1,0,0,NaN,0,0,G400,0,Permanencia_Caracteristicas_Doenca
32572,202212,202212,604500017,é{{{é~âé~âä}Ç{,4,66,M,99,330010,23970000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
32573,202212,202212,604190018,é{é{ü{|äééé,4,3,M,1,330100,28110000,...,0,1,0,0,NaN,0,0,G408,0,Permanencia_Caracteristicas_Doenca
32574,202212,202212,604190018,é{Ç{{{}}Çüé{ÇÇ,4,12,M,1,330100,28070505,...,0,1,0,0,NaN,0,0,G401,0,Permanencia_Caracteristicas_Doenca

### Sobre os sexos

In [81]:
# Aparentemente da certo assim

colunas = ['sexo_paciente', 'numero_cns_paciente']
contagem_sexo = rj_epilepsia_total.filter(items=colunas)
contagem_sexo

      sexo_paciente numero_cns_paciente
0                 F     âäâ{{~é|{||â{Ç}
1                 F     âäâ{{}ä}â{âÇüäâ
2                 F     âäâ{{|}é~{â{ââ
3                 F     }{{ü|ÇÇüâü{{{{
4                 F     é{{ü{üüü|}ü~
...             ...                 ...
70551             F     é{|{{{âä|}Çä{
70552             F     é{ü{}~}{Ç~ä{
70553             F     é{{|{Çäâ}ü~|||
70554             F     é{}{{éâ{ééâéüâé
70555             F     é{âÇ{â{|Çää{éâ{

[70556 rows x 2 columns]

In [82]:
# Contagem de Pacientes Unicos por sexo

contagem_sexo.drop_duplicates('numero_cns_paciente').groupby('sexo_paciente').count()

               numero_cns_paciente
sexo_paciente
F                             2564
M                             2043

## Por mês de atendimento (competencia)

In [83]:
# Tabela com os pacientes unicos nas linhas e as datas dos procedimentos nas colunas

pacientes_data_atendimento = pd.pivot_table(rj_epilepsia_total, values='sexo_paciente', index=['numero_cns_paciente'],
                       columns=['data_atendimento_paciente'], aggfunc='count', fill_value=0)
pacientes_data_atendimento

data_atendimento_paciente,201410,201411,201412,201501,201502,201503,201504,201505,201506,201507,...,202203,202204,202205,202206,202207,202208,202209,202210,202211,202212
numero_cns_paciente,,,,,,,,,,,,,,,,,,,,,
|{{|{â{äâü|{{|â,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
|{{|ä}{ÇÇ~{{{,0,0,0,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
|{{äéé|Ç}{{{{},0,0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
|{||}}{~}{{{{,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
|{||éâ{â{{{{{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
é{üé{âÇââüü~||,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
é{üé{äÇä~Ç~â|Ç,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,1,1,1
é{üé{ééä|Ç}}{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
é{üé{ü}~Çéé{é}{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
é{üü{âÇüééÇÇ}|{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0

In [91]:
# Tabela com os pacientes unicos nas linhas e as datas dos procedimentos nas colunas

procedimento_mes_atendimento = pd.pivot_table(rj_epilepsia_total, values='numero_cns_paciente', index=['procedimento_principal_extenso'],
                       columns=['data_atendimento_paciente'], aggfunc='count', fill_value=0)
procedimento_mes_atendimento

data_atendimento_paciente,201410,201411,201412,201501,201502,201503,201504,201505,201506,201507,...,202203,202204,202205,202206,202207,202208,202209,202210,202211,202212
procedimento_principal_extenso,,,,,,,,,,,,,,,,,,,,,
Gabapentina 300 MG,0,0,73,236,202,152,51,29,12,3,...,69,52,49,69,77,82,85,78,80,70
Gabapentina 400 MG,3,5,11,45,50,49,41,46,44,44,...,5,6,8,8,8,7,7,7,8,7
Lamotrigina 100 MG,3,2,16,99,62,74,50,60,168,286,...,485,475,481,494,521,517,513,529,514,531
Levetiracetam 100 MG/ML (Por Frasco de 100 ML),0,0,0,0,0,0,0,0,0,0,...,75,73,98,99,106,108,105,110,107,109
Levetiracetam 100 MG/ML (Por Frasco de 150 ML),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Levetiracetam 250 MG,0,0,0,0,0,0,0,0,0,0,...,193,164,116,72,47,127,175,193,199,212
Levetiracetam 750 MG,0,0,0,0,0,0,0,0,0,0,...,33,74,106,131,146,108,102,116,129,124
Topiramato 100 MG,2,14,49,276,170,243,302,331,315,352,...,42,45,51,94,143,167,170,180,186,195
Topiramato 25 MG,2,5,34,123,123,110,118,127,133,142,...,13,13,12,12,15,18,15,15,13,18
Topiramato 50 MG,2,10,38,185,147,75,122,192,203,198,...,29,41,60,73,68,74,77,79,66,73
Vigabatrina 500 MG,5,5,6,58,81,77,83,90,96,98,...,67,62,63,67,71,78,73,75,76,80

## Area de testes

In [86]:
remedios= rj_epilepsia_total['procedimento_principal']
remedios

0        604190018
1        604500084
2        604500076
3        604500017
4        604500084
           ...
70551    604500076
70552    604500050
70553    604500050
70554    604500050
70555    604500106
Name: procedimento_principal, Length: 70556, dtype: int64

In [87]:
remedios.drop_duplicates()

0        604190018
1        604500084
2        604500076
3        604500017
7        604500050
8        604500068
26       604500025
37476    604500092
41975    604500122
43489    604500106
43496    604500114
Name: procedimento_principal, dtype: int64