# Tratamento das Bases de Epilepsia do Rio de Janeiro de 2015 a 2022

## Observações

Para que este notebook funcione corretamente devem ser importadas as bases de dados do SIASUS de 2015 a 2022 de epilepsia do estado do Rio de Janeiro

## Coisas para fazer:

Formatação de colunas:

-> Criar outra coluna equivalente as ja existentes para fazer o tratamento dos dados:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- juntar o codigo da idade e o numero da idade em uma coluna "idade"<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- codigo_uf_municipio_residencia -> botar o nome do municipio (https://www.ibge.gov.br/explica/codigos-dos-municipios.php#RJ)<br>

# Importando as Bases

In [50]:
# Import Tiago

# import pandas as pd

# rj_epilepsia_total = []
# for i in range(2015, 2023):
#     arquivo = f"../Dados/Bases sem tratamento/rj_epilepsia_{i}.csv"
#     epilepsia = pd.read_csv(arquivo, sep = ',', encoding='latin-1')
#     rj_epilepsia_total.append(epilepsia)

In [51]:
# Import Bruno

import pandas as pd

rj_epilepsia_total = []
for i in range(2015, 2023):
    arquivo = f"/content/rj_epilepsia_{i}.csv"
    epilepsia = pd.read_csv(arquivo, sep = ',', encoding='latin-1')
    rj_epilepsia_total.append(epilepsia)

# Concatenando, Refazendo o Indice e exportando

In [ ]:
# Concatenando as bases

rj_epilepsia_total = pd.concat(rj_epilepsia_total)
rj_epilepsia_total

In [ ]:
# Refazendo o Indice

rj_epilepsia_total.index = range(rj_epilepsia_total.shape[0])
rj_epilepsia_total

In [54]:
# Exportando

rj_epilepsia_total.to_csv('/content/rj_epilepsia_total.csv', sep =';')

# Formatando as colunas

## Mudando o nome das Colunas

In [ ]:
# Selecionando apenas as colunas que são interessantes para a nossa analise

colunas_desejadas = ['AP_MVM', 'AP_CMP', 'AP_PRIPAL', 'AP_CNSPCN', 'AP_COIDADE', 'AP_NUIDADE', 'AP_DTSOLIC','AP_SEXO', 'AP_RACACOR', 'AP_MUNPCN', 'AP_CEPPCN', 'AP_TPATEN', 'AP_TPAPAC', 'AP_MOTSAI', 'AP_OBITO', 'AP_ENCERR', 'AP_PERMAN', 'AP_ALTA', 'AP_TRANSF', 'AP_DTOCOR', 'AP_APACANT', 'AP_CIDCAS', 'AP_CIDPRI', 'AP_CIDSEC']
rj_epilepsia_total = pd.DataFrame(rj_epilepsia_total[colunas_desejadas])
rj_epilepsia_total

In [56]:
# Renomeando as colunas

# novo_nome_colunas = {'AP_MVM': 'data_processamento', 'AP_CMP': 'data_atendimento_paciente', 'AP_PRIPAL': 'procedimento_principal', 'AP_CNSPCN': 'numero_cns_paciente', 'AP_COIDADE': 'codigo_idade_paciente', 'AP_NUIDADE': 'numero_idade', 'AP_SEXO': 'sexo_paciente', 'AP_RACACOR': 'raca_paciente', 'AP_MUNPCN': 'codigo_uf_municipio_residencia', 'AP_CEPPCN': 'cep_paciente', 'AP_TPATEN': 'tipo_atendimento', 'AP_TPAPAC': 'tipo_apac', 'AP_MOTSAI': 'motivo_saida_permanencia', 'AP_OBITO': 'indicador_obito', 'AP_ENCERR': 'indicador_encerramento', 'AP_PERMAN': 'indicador_permanencia', 'AP_ALTA': 'indicador_alta', 'AP_TRANSF': 'indicador_transferencia', 'AP_DTOCOR': 'data_ocorrencia', 'AP_APACANT': 'numero_apac_anterior', 'AP_CIDCAS': 'cid_causas_associadas', 'AP_CIDPRI': 'cid_principal', 'AP_CIDSEC': 'cid_sencundario'}
novo_nome_colunas = {'AP_DTSOLIC':'data_completa_atendimento' ,'AP_MVM': 'data_processamento', 'AP_CMP': 'data_atendimento_paciente', 'AP_PRIPAL': 'procedimento_principal', 'AP_CNSPCN': 'numero_cns_paciente', 'AP_COIDADE': 'codigo_idade_paciente', 'AP_NUIDADE': 'numero_idade', 'AP_SEXO': 'sexo_paciente', 'AP_RACACOR': 'raca_paciente', 'AP_MUNPCN': 'codigo_uf_municipio_residencia', 'AP_CEPPCN': 'cep_paciente', 'AP_TPATEN': 'tipo_atendimento', 'AP_TPAPAC': 'tipo_apac', 'AP_MOTSAI': 'motivo_saida_permanencia', 'AP_OBITO': 'indicador_obito', 'AP_ENCERR': 'indicador_encerramento', 'AP_PERMAN': 'indicador_permanencia', 'AP_ALTA': 'indicador_alta', 'AP_TRANSF': 'indicador_transferencia', 'AP_DTOCOR': 'data_ocorrencia', 'AP_APACANT': 'numero_apac_anterior', 'AP_CIDCAS': 'cid_causas_associadas', 'AP_CIDPRI': 'cid_principal', 'AP_CIDSEC': 'cid_sencundario'}

In [ ]:
# Renomeando no DF

rj_epilepsia_total = rj_epilepsia_total.rename(columns=novo_nome_colunas)
rj_epilepsia_total

In [58]:
rj_epilepsia_total.to_csv('/content/rj_epilepsia_total.csv', sep =';')

## Criando colunas com valores Equivalentes

### Motivo_saida_permanencia

In [84]:
dic_motivo_saida_permanencia = {
    11: 'Alta_Curado',
    12: 'Alta_Melhorado',
    13: 'Alta_Puerpera_Permanencia',
    14: 'Alta_Pedido',
    15: 'Alta_Previsao_Acompanhamento',
    16: 'Alta_Evasao',
    17: 'Alta_Puerpera_Recem_nascido',
    18: 'Alta_Outros',
    21: 'Permanencia_Caracteristicas_Doenca',
    22: 'Permanencia_Intercorrencia',
    23: 'Permanencia_Impossibilidade_Sociofamiliar',
    24: 'Permanencia_Doador_Vivo',
    25: 'Permanencia_Doador_Morto',
    26: 'Permanencia_Mudanca_Procedimento',
    27: 'Permanencia_Reoperacao',
    28: 'Permanencia_Outros',
    31: 'Transferencia_Outro_Estabelecimento',
    41: 'Obito_Declaracao_Medico_Assistente',
    42: 'Obito_Declaracao_IML',
    43: 'Obito_Declaracao_SVO',
    51: 'Encerramento_Administrativo'
}

In [85]:
rj_epilepsia_total['motivo_saida_permanencia_extenso'] = rj_epilepsia_total['motivo_saida_permanencia'].map(dic_motivo_saida_permanencia)

In [ ]:
rj_epilepsia_total

### Procedimento_principal

In [62]:
dic_procedimento_principal = {
    604190018: 'Vigabatrina 500 MG',
    604500084: 'Topiramato 100 MG',
    604500076: 'Topiramato 50 MG',
    604500017: 'Gabapentina 300 MG',
    604500050: 'Lamotrigina 100 MG',
    604500068: 'Topiramato 25 MG',
    604500025: 'Gabapentina 400 MG',
    604500092: 'Levetiracetam 100 MG/ML (Por Frasco de 150 ML)',
    604500122: 'Levetiracetam 100 MG/ML (Por Frasco de 100 ML)',
    604500106: 'Levetiracetam 250 MG',
    604500114: 'Levetiracetam 750 MG'
}

In [63]:
rj_epilepsia_total['procedimento_principal_extenso'] = rj_epilepsia_total['procedimento_principal'].map(dic_procedimento_principal)

In [ ]:
rj_epilepsia_total

# Análise Exploratória

## Por sexo

### Feminino

In [65]:
sexo = ['F']
selecao = rj_epilepsia_total['sexo_paciente'].isin(sexo)

In [ ]:
sexo_fem = rj_epilepsia_total[selecao]
sexo_fem

In [ ]:
sexo_fem.index = range(sexo_fem.shape[0])
sexo_fem

### Masculino

In [69]:
sexo = ['M']
selecao = rj_epilepsia_total['sexo_paciente'].isin(sexo)

In [ ]:
sexo_masc = rj_epilepsia_total[selecao]
sexo_masc

In [ ]:
sexo_masc.index = range(sexo_masc.shape[0])
sexo_masc

### Sobre os sexos

In [ ]:
# Criando um DF com o sexo e CNS apenas

colunas = ['sexo_paciente', 'numero_cns_paciente']
contagem_sexo = rj_epilepsia_total.filter(items=colunas)
contagem_sexo

In [73]:
# Contagem de Pacientes Unicos por sexo

contagem_sexo.drop_duplicates('numero_cns_paciente').groupby('sexo_paciente').count()

               numero_cns_paciente
sexo_paciente
F                             2564
M                             2043

## Por mês de atendimento (competencia)

In [74]:
# Tabela com os pacientes unicos nas linhas e as datas dos procedimentos nas colunas

pacientes_data_atendimento = pd.pivot_table(rj_epilepsia_total, values='sexo_paciente', index=['numero_cns_paciente'],
                       columns=['data_atendimento_paciente'], aggfunc='count', fill_value=0)
pacientes_data_atendimento

data_atendimento_paciente,201410,201411,201412,201501,201502,201503,201504,201505,201506,201507,...,202203,202204,202205,202206,202207,202208,202209,202210,202211,202212
numero_cns_paciente,,,,,,,,,,,,,,,,,,,,,
|{{|{â{äâü|{{|â,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
|{{|ä}{ÇÇ~{{{,0,0,0,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
|{{äéé|Ç}{{{{},0,0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
|{||}}{~}{{{{,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
|{||éâ{â{{{{{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
é{üé{âÇââüü~||,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
é{üé{äÇä~Ç~â|Ç,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,1,1,1,1
é{üé{ééä|Ç}}{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
é{üé{ü}~Çéé{é}{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
é{üü{âÇüééÇÇ}|{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0

In [75]:
# Tabela com os pacientes unicos nas linhas e as datas dos procedimentos nas colunas

procedimento_mes_atendimento = pd.pivot_table(rj_epilepsia_total, values='numero_cns_paciente', index=['procedimento_principal_extenso'],
                       columns=['data_atendimento_paciente'], aggfunc='count', fill_value=0)
procedimento_mes_atendimento

data_atendimento_paciente,201410,201411,201412,201501,201502,201503,201504,201505,201506,201507,...,202203,202204,202205,202206,202207,202208,202209,202210,202211,202212
procedimento_principal_extenso,,,,,,,,,,,,,,,,,,,,,
Gabapentina 300 MG,0,0,73,236,202,152,51,29,12,3,...,69,52,49,69,77,82,85,78,80,70
Gabapentina 400 MG,3,5,11,45,50,49,41,46,44,44,...,5,6,8,8,8,7,7,7,8,7
Lamotrigina 100 MG,3,2,16,99,62,74,50,60,168,286,...,485,475,481,494,521,517,513,529,514,531
Levetiracetam 100 MG/ML (Por Frasco de 100 ML),0,0,0,0,0,0,0,0,0,0,...,75,73,98,99,106,108,105,110,107,109
Levetiracetam 100 MG/ML (Por Frasco de 150 ML),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Levetiracetam 250 MG,0,0,0,0,0,0,0,0,0,0,...,193,164,116,72,47,127,175,193,199,212
Levetiracetam 750 MG,0,0,0,0,0,0,0,0,0,0,...,33,74,106,131,146,108,102,116,129,124
Topiramato 100 MG,2,14,49,276,170,243,302,331,315,352,...,42,45,51,94,143,167,170,180,186,195
Topiramato 25 MG,2,5,34,123,123,110,118,127,133,142,...,13,13,12,12,15,18,15,15,13,18
Topiramato 50 MG,2,10,38,185,147,75,122,192,203,198,...,29,41,60,73,68,74,77,79,66,73
Vigabatrina 500 MG,5,5,6,58,81,77,83,90,96,98,...,67,62,63,67,71,78,73,75,76,80

## Area de testes

In [76]:
remedios= rj_epilepsia_total['procedimento_principal']
remedios

0        604190018
1        604500084
2        604500076
3        604500017
4        604500084
           ...
70551    604500076
70552    604500050
70553    604500050
70554    604500050
70555    604500106
Name: procedimento_principal, Length: 70556, dtype: int64

In [77]:
remedios.drop_duplicates()

0        604190018
1        604500084
2        604500076
3        604500017
7        604500050
8        604500068
26       604500025
37476    604500092
41975    604500122
43489    604500106
43496    604500114
Name: procedimento_principal, dtype: int64

# Alterando as colunas de datas

## Criando data como se fosse o primeiro dia do mês

In [78]:
rj_epilepsia_total['data_atendimento'] = pd.to_datetime(rj_epilepsia_total['data_atendimento_paciente'], format='%Y%m')
# rj_epilepsia_total

## Classificando para extrair o primeiro e último dia do tratamento

In [79]:
rj_epilepsia_total = rj_epilepsia_total.sort_values(['numero_cns_paciente', 'data_atendimento'])
primeiro_mes = rj_epilepsia_total.groupby('numero_cns_paciente')['data_atendimento'].first()
ultimo_mes = rj_epilepsia_total.groupby('numero_cns_paciente')['data_atendimento'].last()

In [80]:
## Juntando as bases na pivot table

In [81]:
merged_df = pd.DataFrame({'primeiro_mes':primeiro_mes, 'ultimo_mes':ultimo_mes})
merged_df = pd.merge(pacientes_data_atendimento, merged_df, left_index=True, right_index=True)
merged_df

,201410,201411,201412,201501,201502,201503,201504,201505,201506,201507,...,202205,202206,202207,202208,202209,202210,202211,202212,primeiro_mes,ultimo_mes
numero_cns_paciente,,,,,,,,,,,,,,,,,,,,,
|{{|{â{äâü|{{|â,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,2015-01-01,2020-05-01
|{{|ä}{ÇÇ~{{{,0,0,0,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,2015-01-01,2015-06-01
|{{äéé|Ç}{{{{},0,0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,2014-12-01,2015-10-01
|{||}}{~}{{{{,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2015-01-01,2015-10-01
|{||éâ{â{{{{{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2015-09-01,2015-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
é{üé{âÇââüü~||,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2020-08-01,2022-12-01
é{üé{äÇä~Ç~â|Ç,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,2021-09-01,2022-12-01
é{üé{ééä|Ç}}{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,1,2022-08-01,2022-12-01
é{üé{ü}~Çéé{é}{,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2016-07-01,2016-09-01
é{üü{âÇüééÇÇ}|{,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,2022-07-01,2022-09-01