# Importando as Bases

In [3]:
import pandas as pd

In [ ]:
rj_epilepsia_2015 = pd.read_csv('/content/rj_epilepsia_2015.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2015

In [ ]:
rj_epilepsia_2016 = pd.read_csv('/content/rj_epilepsia_2016.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2016

In [ ]:
rj_epilepsia_2017 = pd.read_csv('/content/rj_epilepsia_2017.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2017

In [ ]:
rj_epilepsia_2018 = pd.read_csv('/content/rj_epilepsia_2018.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2018

In [ ]:
rj_epilepsia_2019 = pd.read_csv('/content/rj_epilepsia_2019.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2019

In [ ]:
rj_epilepsia_2020 = pd.read_csv('/content/rj_epilepsia_2020.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2020

In [ ]:
rj_epilepsia_2021 = pd.read_csv('/content/rj_epilepsia_2021.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2021

In [ ]:
rj_epilepsia_2022 = pd.read_csv('/content/rj_epilepsia_2022.csv', sep = ',', encoding='latin-1')
rj_epilepsia_2022

# Concatenando, Refazendo o Indice e exportando

In [ ]:
rj_epilepsia_total = pd.concat([rj_epilepsia_2015, rj_epilepsia_2016, rj_epilepsia_2017, rj_epilepsia_2018, rj_epilepsia_2019, rj_epilepsia_2020, rj_epilepsia_2021, rj_epilepsia_2022], axis=0)
rj_epilepsia_total

In [ ]:
rj_epilepsia_total.index = range(rj_epilepsia_total.shape[0])
rj_epilepsia_total

In [14]:
rj_epilepsia_total.to_csv('/content/rj_epilepsia_total.csv', sep =';')

# Análise Exploratória

## Por sexo

### Feminino

In [36]:
sexo = ['F']
selecao = rj_epilepsia_total['AP_SEXO'].isin(sexo)

In [ ]:
sexo_fem = rj_epilepsia_total[selecao]
sexo_fem

In [ ]:
sexo_fem.index = range(sexo_fem.shape[0])
sexo_fem

### Masculino

In [40]:
sexo = ['M']
selecao = rj_epilepsia_total['AP_SEXO'].isin(sexo)

In [ ]:
sexo_masc = rj_epilepsia_total[selecao]
sexo_masc

In [ ]:
sexo_masc.index = range(sexo_masc.shape[0])
sexo_masc

### Groupby

In [43]:
# O que ta acontecendo?????????? (aparentemente somou tudo)

sexo_total = rj_epilepsia_total.groupby('AP_SEXO').count()
sexo_total

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AP_CIDCAS,AP_CIDPRI,AP_CIDSEC,AP_ETNIA,AM_PESO,AM_ALTURA,AM_TRANSPL,AM_QTDTRAN,AM_GESTANT,AP_NATJUR
AP_SEXO,,,,,,,,,,,,,,,,,,,,,
F,37981,37981,37981,37981,37981,37981,37981,37981,37981,37981,...,37981,37981,37981,0,37981,37981,37981,37981,37981,24206
M,32575,32575,32575,32575,32575,32575,32575,32575,32575,32575,...,32575,32575,32575,0,32575,32575,32575,32575,32575,21304

In [56]:
# Aparentemente da certo assim

colunas = ['AP_SEXO', 'AP_OBITO']
sexooo = rj_epilepsia_total.filter(items=colunas)
sexooo

      AP_SEXO  AP_OBITO
0           F         0
1           F         0
2           F         0
3           F         0
4           F         0
...       ...       ...
70551       F         0
70552       F         0
70553       F         0
70554       F         0
70555       F         0

[70556 rows x 2 columns]

In [57]:
# Nao sei se deu certo ou se so contou mortes, mas pelo numero total somando parece que contou tudo

sexooo.groupby('AP_SEXO').count()

         AP_OBITO
AP_SEXO
F           37981
M           32575